{% extends "base.html" %}
{% from "_form_field.html" import form_field %}
{% block title %}Forgot password - bell-tracker{% endblock %}
{% block content %}
<h1>Forgot password</h1>
<p>Enter your email and we'll send you a link to choose a new password.</p>
<form method="post" novalidate style="max-width: 28rem;">
  {{ form.hidden_tag() }}
  {{ form_field(form.email) }}
  {{ form.submit(class="btn btn-primary") }}
  <a class="ml-2" href="{{ url_for('auth.login') }}">Back to login</a>
</form>
{% endblock %}
